html {
  font-size: 15px;
}
body { 
  background-image: url(..//images/pokerstars.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header__title,
.header__img {
  width: 30%;
  padding: 0;
  margin-right: 50px;
  text-align: justify;
}
ul, li {
  list-style: none; /* убираем маркеры для элементов */
}
ul {
  font-size: 0;
}
li {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1 rem;
}
.menu {
  display: flex;
  padding: 20px;
}
.menu__item{
  padding: 0 2% 0 0;
  transition: 0.5s;
} 
h2, p {
  color: #f1f1f1;
  padding: 10px;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
article {
  color: #f1f1f1;
  text-align: center;
  width: 60%;
  padding: 20px;
  margin-right: auto;
  line-height: normal;
}
